# Firebase 本地模拟器/缓存等
.firebase/

# 通用日志文件
logs/
*.log
firebase-debug.log*
firebase-debug.*.log*

# 敏感的环境变量文件
.env
.env.local
.env.*

# 操作系统 / IDE 特定文件
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node.js REPL 历史记录
.node_repl_history